body {
  background-image: url(../img/background.jpg);  
}

.title-game {
  text-align: center;
  background-color:black;
  color: gold;
  width: 100%;
  font-family: 'Lexend Exa', sans-serif;
}

#start-game {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

/*Title above character images*/
#attacker-title {
  text-align: center;
  color: white;
}

/*Where player can collect characters*/
.character-containers {
  margin-left: 10%;
  text-align: center;
}

.battleground-title {
  text-align: center;
}

span {
  display: block;
}

img {
  width: 100px;
  height: 100px;
  border: solid white 5px;
}

/*container to select enemies and remaining enemies wait*/
.enemy-selection {
  border: solid black 2px;
  height: 300px;
  margin-top: 1%;
  background-color: white;
}

/*Header title in enemy selction*/
.enemy-header {
  text-align: center;
}

/*Button for attack*/
.attack-button {
  border: solid black 2px;
  height: 300px;
  margin-top: 10%;
  text-align: center;
  background-color: white;
}

/*container where enemy goes when attacking*/
.defender {
  border: solid black 2px;
  height: 300px;
  margin-top: 5%;
}

/*characters for attack*/
#obiwan {
  margin-right: 15px;
  border: solid black 2px;
  background-color: #2DA5FF;
  color: white;
  font-weight: bold;
}

#boba-fett {
  margin-right: 15px;
  border: solid black 2px;
  background-color: #BEE884;
  color: black;
  font-weight: bold;
}

#aayla-secura {
  margin-right: 15px;
  border: solid black 2px;
  background-color: #45FFBB;
  color: black;
  font-weight: bold;
}

#darth-maul {
  border: solid black 2px;
  background-color: #FF5381;
  color: white;
  font-weight: bold;
}

/*Defending Player title*/
.attack-title {
  text-align: center;
  font-weight: bold;
}

/*Game Over styling*/
#game-over {
  color: red;
  background-color: black;
  text-align: center;
}